body {
  margin: 0;
  font-variant-ligatures: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App .chakra-link:focus {
  box-shadow: none;
}
